*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}

.clearfix:after {
  display: table;
  content: "";
  border: 1px solid rgba(0, 0, 0, 0.7);
  clear: both;
}

.centerme {
  text-align: center;
}

.left {
  float: left;
}

.right {
  float: right;
}

.header {
  background: #685642;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin: none;
  padding: none;
}

.home {
  background: #b3a580;
  padding: 30px;
}

.home h2 {
  margin-top: none;
}

img {
  width: 60%;
}

header h1 {
  padding: 20px 0px;
  color: #f4f0cb;
  font-family: 'Oswald', sans-serif;
  text-shadow: 3px 3px 3px black;
}

nav ul li {
  list-style-type: none;
  display: inline;
  padding: 0px 15px;
  font-family: 'Roboto', sans-serif;
  text-shadow: 1.5px 1.5px 1.5px black;
  font-size: 18px;
}

nav ul li a:link {
  color: #f4f0cb;
}

nav ul li a:hover {
  color: black;
  background: #f4f0cb;
  font-size: 20px;
}

nav ul li a:visited {
  color: #b7c68b;
  font-size: 18px;
}

h2 {
  margin: 0px;
}
